span {
  display: block;
}
.movie_title {
  margin-top: 45px;
  font-weight: bold;
}
.thumbnail {
  max-width: 185px;
}
.top-heading {
  background-color: #B1A6A6;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
}

#gallery {
  background-color: #E2E2E2;
  border-radius: 8px;
  padding-bottom: 20px;
}
.ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 500px;

  }
