
{{# movies }}
 <div class="col-xs-6 col-sm-4 col-lg-4">
  <span class="movie_title text-center">{{ title }}</span>
  <span class="movie_date text-center">{{ date }}</span>
  <a href="#" class="thumbnail center-block">
    <img class="movie_poster" src="{{ poster_url }}">
  </a>
  <span class="actors text-center">{{ actor_1 }} as: {{ role_1 }}</span>
  <span class="actors text-center">{{ actor_2 }} as: {{ role_2 }}</span>
</div>
{{/ movies }}
