{{# actors }}
<div class="col-xs-12 col-sm-6">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="{{ profile }}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ name }}</h4>
      <p>Popular movies:</p>
      <ul>
        {{# known_for }}
        <li> {{ title }}</li>
        {{/ known_for }}
      </ul>
      <p>Popularity:</p>
      {{# rating }}
      <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
      {{/ rating }}
    </div>
  </div>
</div>
{{/ actors }}
